<!DOCTYPE html>
<html lang="en">
<head>
  {# Stylesheets and JS should be globally availble #}
  <!-- CSS -->
  <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/static/css/dashboard-0.1.css" />
  <!--<link rel="stylesheet" href="/static/css/bootstrap-theme-3.3.7.css" />-->
  <!-- Javascript -->
  <script src="/static/js/jquery-3.1.1.min.js"></script>
  <script src="/static/js/bootstrap.js"></script>
  <script src="/static/js/dashboard-0.1.js"></script>
  <title>{% block title %}{% endblock %} - Exomapper</title>
  {% block head %}{% endblock %}

  <script src="https://unpkg.com/three@0.123.0/build/three.min.js"></script>
  <script type="module" src="https://unpkg.com/three@0.123.0/build/three.module.js"></script>
  <script src="https://unpkg.com/three@0.123.0/examples/js/controls/TrackballControls.js"></script>
  <script src="https://unpkg.com/three@0.123.0/examples/js/controls/OrbitControls.js"></script>
  <script src="https://unpkg.com/three@0.123.0/examples/js/renderers/CSS2DRenderer.js"></script>
  <script type="module" src="https://unpkg.com/three@0.123.0/examples/jsm/renderers/CSS2DRenderer.js"></script>
  <script type="module" src="https://unpkg.com/three@0.123.0/examples/jsm/postprocessing/EffectComposer.js"></script>
  <script type="module" src="https://unpkg.com/three@0.123.0/examples/jsm/postprocessing/RenderPass.js"></script>
  <script type="module" src="https://unpkg.com/three@0.123.0/examples/jsm/postprocessing/ShaderPass.js"></script>
  <script type="module" src="https://unpkg.com/three@0.123.0/examples/jsm/postprocessing/UnrealBloomPass.js"></script>
  <script src="/static/js/lib/THREEx.WindowResize.js"></script>
  <script src="/static/js/lib/dat.gui.js"></script>
  <!-- socket.io -->
  <script src="/static/js/lib/socket.io.min.js"></script>

  <!-- my script -->
  <script src="/static/js/exomaps/scenebuilder.js"></script>
  <script src="/static/js/exomaps/starmap.js" defer></script>


</head>
<body>
{# Basic sidebar definition #}
{% block sidebar %}
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#" onclick="showItem('')">Page1</a>
    <a href="#" onclick="showItem('')">Page2</a>
    <a href="#" onclick="showItem('')">Page3</a>
    <a href="#" onclick="showItem('')">Page4</a>
  </div>
{% endblock sidebar %}

{# Main div holds everything so everything works properly with 'push' type sidebar #}
<div id="main">
{# Top Nav Bar #}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <div class="navbar-header">
  {#      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">#}
  {#        <span class="sr-only">Toggle navigation</span>#}
  {#        <span class="icon-bar"></span>#}
  {#        <span class="icon-bar"></span>#}
  {#        <span class="icon-bar"></span>#}
  {#      </button>#}
        <a class="navbar-brand" href="javascript:void(0)" onclick="openNav()">Show d</a>
  </div>

  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

  <div id="content">
    {% block content %}
    {% endblock %}
  </div>

  <div id="footer">
    {% block footer %}
      &copy; 2020 iontom productions</a>.
    {% endblock %}
  </div>

</div>
</body>

{% include "glsl_sun.html" %}

</html>