<!DOCTYPE html>
<html lang="en">
<head>
  {# Stylesheets and JS should be globally availble #}
  <!-- CSS -->
  <link rel="stylesheet" href="/static/css/dashboard-0.1.css" />
  <link rel="stylesheet" href="/static/css/bootstrap-3.3.7.css" />
  <link rel="stylesheet" href="/static/css/bootstrap-theme-3.3.7.css" />
  <!-- Javascript -->
  <script src="/static/js/jquery-3.1.1.min.js"></script>
  <script src="/static/js/bootstrap-3.3.7.js"></script>
  <script src="/static/js/dashboard-0.1.js"></script>
  <title>{% block title %}{% endblock %} - Awesome site name</title>
  {% block head %}{% endblock %}
</head>
<body>
{# Basic sidebar definition #}
{% block sidebar %}
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#" onclick="showItem('')">Page1</a>
    <a href="#" onclick="showItem('')">Page2</a>
    <a href="#" onclick="showItem('')">Page3</a>
    <a href="#" onclick="showItem('')">Page4</a>
  </div>
{% endblock sidebar %}

{# Main div holds everything so everything works properly with 'push' type sidebar #}
<div id="main">
{# Top Nav Bar #}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
{#      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">#}
{#        <span class="sr-only">Toggle navigation</span>#}
{#        <span class="icon-bar"></span>#}
{#        <span class="icon-bar"></span>#}
{#        <span class="icon-bar"></span>#}
{#      </button>#}
      <a class="navbar-brand" href="javascript:void(0)" onclick="openNav()">Show Sidebar</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

  <div id="content">
    {% block content %}
    {% endblock %}
  </div>

  <div id="footer">
    {% block footer %}
      &copy; 2020 iontom productions</a>.
    {% endblock %}
  </div>

</div>
</body>
</html>