{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-8">{% include "map_primary.html" %}</div>
  <div class="col-2">{{df_table|safe}}</div>
</div>

<!--<table class="table table-striped">-->
  <!--<thead>-->
  <!--<tr>-->
    <!--<th>Name</th>-->
    <!--<th>Email</th>-->
  <!--</tr>-->
  <!--</thead>-->
  <!--<tbody>-->
  <!--{% for guest in guests %}-->
    <!--<tr>-->
    <!--<td>{{ guest.name }}</td>-->
    <!--<td>{{ guest.email }}</td>-->
    <!--</tr>-->
  <!--{% endfor %}-->
<!--</table>-->
<!--<p class="navbar-btn">-->
  <!--<a href="/register" class="btn btn-default">Register!</a>-->
<!--</p>-->
{% endblock %}